

  .background-blue{
    @apply bg-blue-300;
  }
  .background-yellow{
    @apply bg-yellow-100;
  }
  .background-green{
    @apply bg-green-200;
  }

  .storybook-button--small {
    font-size: 10px;
    padding: 10px 16px;
  }
  .storybook-button--medium {
    font-size: 14px;
    padding: 11px 20px;
  }
  .storybook-button--large {
    font-size: 18px;
    padding: 12px 24px;
  }